.DS_Store
node_modules
target
package-lock.json
yarn-error.log
yarn.lock
update-cns-realm.json
tmp-cns-realm.json

# AppID related
./articles-data-tenant/src/main/resources/application.properties
./web-app-tenant-a/public/env-config.js
